extends layout

block content  
  form(method='POST', enctype='multipart/form-data', action='/upload')
    h2 Step 1
    p Select one or more image files to upload and compress:
    div(class='form-group row')
      div(class='col-md-5')
        div(class='custom-file')
          input(type='file', id='fileUploadCtrl', onchange='fileSelectionChange()', class='custom-file-input', name='images', accept='image/png, image/jpeg', multiple='true')
          label(class='custom-file-label', for='fileUpload') Choose file
    div(class='row')
      div(id='selectedFiles', class='col-md-12 font-italic')

    h2 Step 2
    p Start the upload and image compression process.
    button(type='submit', class='btn btn-primary') Start Upload
    
    h2 Step 3
    p Links to each compressed image will appear below along with compression information.
    
    table(class='table')
      thead
        tr
          th Original File
          th Compressed File
          th Original File Size
          th Compressed File Size
          th Space Savings
      tbody
        each file in uploadedFiles
          tr
            td= file.originalname
            td 
              a(href=`/upload/${file.id}`, target='_blank')= file.compressedFileName
            td= Math.round(file.size / 1000) + ' kB'
            td= Math.round(file.compressedFileSize / 1000) + ' kB'
            td= Math.round(file.spaceSavings) + '%'
        else
          tr
            td(colspan=5) No files uploaded yet

block script
  script.
    function fileSelectionChange() {
      var fileUploadCtrl = document.getElementById('fileUploadCtrl');
      var selectedFiles = document.getElementById('selectedFiles');
      if (fileUploadCtrl.files && fileUploadCtrl.files.length > 0) {
        selectedFiles.style.display = 'block';
        var fileNames = [];
        for (var i = 0; i < fileUploadCtrl.files.length; i++) {
          fileNames.push(fileUploadCtrl.files[i].name);
        }
        selectedFiles.innerText = `Selected files: ${fileNames.join(', ')}`;
      } else {
        selectedFiles.style.display = 'none';
      }
    }
    